
<!DOCTYPE html>
<html>
    <h1>Visuals</h1>
  <style type="text/css">
    html, body { margin: 0; padding: 0; width: 100%; height: 100%;}
    iframe { border: 0; width: 100%; height: 99%; }
  </style>
  <body>
    <iframe src="http://opensuse.stream.stud-srv.sdu.dk/app/dashboards#/view/9727d9c0-4780-11ec-a57c-8577c0017101?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15w%2Cto%3Anow))&hide-filter-bar=true" height="600" width="800"></iframe>
 </body>
</html>