
<!DOCTYPE html>
<html>
    <h1>User Statistics</h1>
    <style type="text/css">
      html, body { margin: 0; padding: 0; width: 100%; height: 100%;}
      iframe { border: 0; width: 100%; height: 50%; }
      div {display: inline-block}
    </style>
  <body>
      <iframe src="http://opensuse.stream.stud-srv.sdu.dk/goto/b42e4611d27a6d22767e6d946510169d" height="600" width="800"></iframe>
      <iframe src="http://opensuse.stream.stud-srv.sdu.dk/goto/713367fe61452cbc4a60afc12f7faf2e" height="600" width="800"></iframe>
  </body>
</html>

<!---->
