<!DOCTYPE html>
<html>
<h1>User Statistics</h1>
<style type="text/css">
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  iframe {
    border: 0;
    width: 100%;
    height: 100%;
  }

  div {
    display: inline-block
  }
</style>

<body>
  <iframe
    src="http://opensuse.stream.stud-srv.sdu.dk/app/dashboards#/view/9b143380-479e-11ec-a57c-8577c0017101?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-2M%2Cto%3Anow))"
    height="600" width="800"></iframe>
</body>

</html>